.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules/
dist/
build/
.next/
.nuxt/
.svelte-kit/
.qwik/

# TS build artifacts
apps/nextjs-app/next-env.d.ts
apps/nextjs-app/tsconfig.tsbuildinfo
